<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/general.css">

    <title>CropXcel</title>
</head>

<body>
    <header th:insert="~{fragments/general :: header}"> </header>
    <!-- <div class="hero">

        <h1><span>I'm a cool Navigation</span></h1>

        <div class="mouse">
            <span></span>
        </div>

    </div> -->
    <section>
        <h1 class="title">Scroll and Reveal</h1>
        <h2 class="fade-in show-once">Simple Animation that makes your website dynamic!</h2>
      </section>

    <div class="row content">
        <h1 class="sec01">Section 01</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet
            nobis repellat natus sequi sint consectetur excepturi doloribus vero provident consequuntur accusamus
            quisquam nesciunt cupiditate soluta alias illo et deleniti voluptates facilis repudiandae similique dolore
            quaerat architecto perspiciatis officiis dolor ullam expedita suscipit neque minima rem praesentium
            inventore ab officia quos dignissimos esse quam placeat iste porro eius! Minus, aspernatur nesciunt
            consectetur. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis autem vitae a quae ipsam
            repudiandae odio dolorum quaerat asperiores possimus corporis optio animi quisquam laboriosam nihil quam
            voluptatum quidem veritatis iste culpa iure modi perspiciatis recusandae ipsa libero officiis aliquam
            doloremque similique id quasi atque distinctio enim sapiente ratione in quia eum perferendis earum
            blanditiis. Nobis, architecto, veniam molestias minus iste necessitatibus est ab in earum ratione eveniet
            soluta molestiae sed illo nostrum nemo debitis. Minus, quod totam aliquam ea asperiores fugit quaerat
            excepturi dolores ratione numquam consequatur id unde alias provident vero incidunt exercitationem similique
            consequuntur hic possimus? Fuga, eveniet quaerat inventore corporis laborum eligendi enim soluta obcaecati
            aliquid veritatis provident amet laudantium est quisquam dolore exercitationem modi? Distinctio, pariatur,
            ab velit praesentium vitae quidem consequatur deleniti recusandae odit officiis. Quidem, cupiditate.</p>
        <h1 class="sec02">Section 02</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet
            nobis repellat natus sequi sint consectetur excepturi doloribus vero provident consequuntur accusamus
            quisquam nesciunt cupiditate soluta alias illo et deleniti voluptates facilis repudiandae similique dolore
            quaerat architecto perspiciatis officiis dolor ullam expedita suscipit neque minima rem praesentium
            inventore ab officia quos dignissimos esse quam placeat iste porro eius! Minus, aspernatur nesciunt
            consectetur. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis autem vitae a quae ipsam
            repudiandae odio dolorum quaerat asperiores possimus corporis optio animi quisquam laboriosam nihil quam
            voluptatum quidem veritatis iste culpa iure modi perspiciatis recusandae ipsa libero officiis aliquam
            doloremque similique id quasi atque distinctio enim sapiente ratione in quia eum perferendis earum
            blanditiis. Nobis, architecto, veniam molestias minus iste necessitatibus est ab in earum ratione eveniet
            soluta molestiae sed illo nostrum nemo debitis. Minus, quod totam aliquam ea asperiores fugit quaerat
            excepturi dolores ratione numquam consequatur id unde alias provident vero incidunt exercitationem similique
            consequuntur hic possimus? Fuga, eveniet quaerat inventore corporis laborum eligendi enim soluta obcaecati
            aliquid veritatis provident amet laudantium est quisquam dolore exercitationem modi? Distinctio, pariatur,
            ab velit praesentium vitae quidem consequatur deleniti recusandae odit officiis. Quidem, cupiditate.</p>
        <h1 class="sec03">Section 03</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet
            nobis repellat natus sequi sint consectetur excepturi doloribus vero provident consequuntur accusamus
            quisquam nesciunt cupiditate soluta alias illo et deleniti voluptates facilis repudiandae similique dolore
            quaerat architecto perspiciatis officiis dolor ullam expedita suscipit neque minima rem praesentium
            inventore ab officia quos dignissimos esse quam placeat iste porro eius! Minus, aspernatur nesciunt
            consectetur. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis autem vitae a quae ipsam
            repudiandae odio dolorum quaerat asperiores possimus corporis optio animi quisquam laboriosam nihil quam
            voluptatum quidem veritatis iste culpa iure modi perspiciatis recusandae ipsa libero officiis aliquam
            doloremque similique id quasi atque distinctio enim sapiente ratione in quia eum perferendis earum
            blanditiis. Nobis, architecto, veniam molestias minus iste necessitatibus est ab in earum ratione eveniet
            soluta molestiae sed illo nostrum nemo debitis. Minus, quod totam aliquam ea asperiores fugit quaerat
            excepturi dolores ratione numquam consequatur id unde alias provident vero incidunt exercitationem similique
            consequuntur hic possimus? Fuga, eveniet quaerat inventore corporis laborum eligendi enim soluta obcaecati
            aliquid veritatis provident amet laudantium est quisquam dolore exercitationem modi? Distinctio, pariatur,
            ab velit praesentium vitae quidem consequatur deleniti recusandae odit officiis. Quidem, cupiditate.</p>
        <h1 class="sec04">Section 04</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet
            nobis repellat natus sequi sint consectetur excepturi doloribus vero provident consequuntur accusamus
            quisquam nesciunt cupiditate soluta alias illo et deleniti voluptates facilis repudiandae similique dolore
            quaerat architecto perspiciatis officiis dolor ullam expedita suscipit neque minima rem praesentium
            inventore ab officia quos dignissimos esse quam placeat iste porro eius! Minus, aspernatur nesciunt
            consectetur. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis autem vitae a quae ipsam
            repudiandae odio dolorum quaerat asperiores possimus corporis optio animi quisquam laboriosam nihil quam
            voluptatum quidem veritatis iste culpa iure modi perspiciatis recusandae ipsa libero officiis aliquam
            doloremque similique id quasi atque distinctio enim sapiente ratione in quia eum perferendis earum
            blanditiis. Nobis, architecto, veniam molestias minus iste necessitatibus est ab in earum ratione eveniet
            soluta molestiae sed illo nostrum nemo debitis. Minus, quod totam aliquam ea asperiores fugit quaerat
            excepturi dolores ratione numquam consequatur id unde alias provident vero incidunt exercitationem similique
            consequuntur hic possimus? Fuga, eveniet quaerat inventore corporis laborum eligendi enim soluta obcaecati
            aliquid veritatis provident amet laudantium est quisquam dolore exercitationem modi? Distinctio, pariatur,
            ab velit praesentium vitae quidem consequatur deleniti recusandae odit officiis. Quidem, cupiditate.</p>
    </div>
    <footer th:insert="~{fragments/general :: footer}"></footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script type="text/javascript" src="/js/general.js"></script>
    <script type="text/javascript" src="/js/myscript.js"></script>

</body>

</html>